# test
/test-results/
/playwright-report/
/playwright/.cache/

# storybook
storybook-static

# ide
.idea

# package manager
node_modules/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

lib/

.DS_Store
